<!DOCTYPE html>
<html>
<head>
  <title>Green Machine Rally</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">

</head>
<body>
  <div id="content">
    <div id="event">
      
    </div>
  </div>
  <form id="controls">
    <fieldset>
      <label><input type="radio" name="race-type" value="duel" checked>1-on-1</label>
      <label><input type="radio" name="race-type" value="team">Team</label>
      <button id="new-event">New Event</button>
    </fieldset>
    <fieldset>
      <label>Add a racer:</label>
      <input type="text" value="" name="new-racer-name">
      <button id="new-racer">Add racer</button>
    </fieldset>
    <fieldset>
      <button id="reset">RESET</button>
    </fieldset>
  </form>
</body>
<script type="text/javascript" src="javascripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="javascripts/underscore-min.js"></script>
<script type="text/template" id="event-template">
  <div class="event">
    <h2><%= event.type %> Event</h2>
    <div class="races"></div>
    <fieldset>
      <button id="new-race">New race</button>
    </fieldset>
  </div>
</script>
<script type="text/template" id="race-template">
  <table>
    <thead>
      <tr>
        <th>Racers</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <% _.each(race.teams, function(team, i) { %>
      <tr>
        <td><%= team.join(', ') %></td>
        <td><button class="result<%= (race.winner == i) ? ' winner' : '' %>" data-team="<%= i %>">result</button></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</script>
<script type="text/javascript" src="javascripts/main.js"></script>
<script type="text/javascript">
  window.Rally.setup();
</script>
</html>