body {
  width: 400px;
  margin: 20px auto;
  font: normal 18px/24px arial, helvetica, sans-serif;
}

fieldset {
  border: none;
  border-bottom: 1px solid #666;
  margin: 0 0 20px;
}

button {
  padding: 10px;
  font: normal 14px/18px arial, helvetica, sans-serif;
  border-radius: 8px;
  background: #666;
  color: #fff;
  border: none;
  margin: 0 0 10px 30px;
}

button.winner {
  background: green;
}

button.stop {
  background: red;
}

ul {
  overflow: hidden;
}

li {
  float: left;
  margin: 0 10px 10px 0;
  padding: 0;
  list-style: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 0 30px;
}

caption {
  text-transform: uppercase;
  font-style: italic;
}

td, th {
  border: 1px solid #999;
  padding: 3px 5px;
}

#new-race {
  margin: 20px auto;
  display: block;
}

